# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/
wheels/
output/

# Virtual environments
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Runtime data
data/
*.db
*.db-shm
*.db-wal
*.log

# OS
Thumbs.db
Desktop.ini
.DS_Store

# CodeBuddy
.codebuddy/

# 网页静态文件及node_modules
assets/web/*
*/node_modules/*
